In [1]:
print ("Hello World")

Hello World

In [2]:
from src.load_mta_dataset import DATASETS, download_mta_data, load_mta_data

    # Download and load MTA data
download_mta_data()
load_mta_data()

    # Print dataset information
for dataset in DATASETS:
    print(f"Dataset ID: {dataset.id}")
    print(f"Dataset Path: {dataset.path}")
    print(f"GTFS Feed: \n{dataset.gk_feed}")
    print("-" * 40)

File data/gtfs_subway.zip already exists. Skipping download.
File data/gtfsmnr.zip already exists. Skipping download.
File data/gtfs_m.zip already exists. Skipping download.

/Users/Deena/Desktop/DS 501/ds-501-cs4/.venv/lib/python3.13/site-packages/gtfs_kit/feed.py:394: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(p, dtype=cs.DTYPE, encoding="utf-8-sig", **csv_options)

Dataset ID: subway
Dataset Path: data/gtfs_subway.zip
GTFS Feed:
* agency --------------------
	  agency_id                agency_name           agency_url   agency_timezone  \
0  MTA NYCT  MTA New York City Transit  http://www.mta.info  America/New_York

  agency_lang  agency_phone
0          en  718-330-1234
* attributions --------------------
	None
* calendar --------------------
	  service_id  monday  tuesday  wednesday  thursday  friday  saturday  sunday  \
0     Sunday       0        0          0         0       0         0       1
1   Saturday       0        0          0         0       0         1       0
2    Weekday       1        1          1         1       1         0       0

  start_date  end_date
0   20250323  20250518
1   20250323  20250518
2   20250323  20250518
* calendar_dates --------------------
	None
* fare_attributes --------------------
	None
* fare_rules --------------------
	None
* feed_info --------------------
	None
* frequencies --------------------
	None
* routes --------------------
	  agency_id route_id route_short_name            route_long_name  route_type  \
0  MTA NYCT        1                1  Broadway - 7 Avenue Local           1
1  MTA NYCT        2                2           7 Avenue Express           1
2  MTA NYCT        3                3           7 Avenue Express           1
3  MTA NYCT        4                4   Lexington Avenue Express           1
4  MTA NYCT        5                5   Lexington Avenue Express           1

                                          route_desc  \
0  Trains operate between 242 St in the Bronx and...
1  Trains operate between Wakefield-241 St, Bronx...
2  Trains operate between 148 St, 7 Av, Manhattan...
3  Trains operate daily between Woodlawn/Jerome A...
4  Weekdays daytime, most trains operate between ...

                                        route_url route_color route_text_color
0  http://web.mta.info/nyct/service/pdf/t1cur.pdf      EE352E             <NA>
1  http://web.mta.info/nyct/service/pdf/t2cur.pdf      EE352E             <NA>
2  http://web.mta.info/nyct/service/pdf/t3cur.pdf      EE352E             <NA>
3  http://web.mta.info/nyct/service/pdf/t4cur.pdf      00933C             <NA>
4  http://web.mta.info/nyct/service/pdf/t5cur.pdf      00933C             <NA>
* shapes --------------------
	  shape_id  shape_pt_sequence  shape_pt_lat  shape_pt_lon
0  1..N03R                  0     40.702068    -74.013664
1  1..N03R                  1     40.703199    -74.014792
2  1..N03R                  2     40.703226    -74.014820
3  1..N03R                  3     40.703253    -74.014846
4  1..N03R                  4     40.703280    -74.014870
* stops --------------------
	  stop_id                  stop_name   stop_lat   stop_lon  location_type  \
0     101  Van Cortlandt Park-242 St  40.889248 -73.898583              1
1    101N  Van Cortlandt Park-242 St  40.889248 -73.898583           <NA>
2    101S  Van Cortlandt Park-242 St  40.889248 -73.898583           <NA>
3     103                     238 St  40.884667 -73.900870              1
4    103N                     238 St  40.884667 -73.900870           <NA>

  parent_station
0           <NA>
1            101
2            101
3           <NA>
4            103
* stop_times --------------------
	                                  trip_id stop_id arrival_time departure_time  \
0  AFA24GEN-1038-Sunday-00_000600_1..S03R    101S     00:06:00       00:06:00
1  AFA24GEN-1038-Sunday-00_000600_1..S03R    103S     00:07:30       00:07:30
2  AFA24GEN-1038-Sunday-00_000600_1..S03R    104S     00:09:00       00:09:00
3  AFA24GEN-1038-Sunday-00_000600_1..S03R    106S     00:10:30       00:10:30
4  AFA24GEN-1038-Sunday-00_000600_1..S03R    107S     00:12:00       00:12:00

   stop_sequence
0              1
1              2
2              3
3              4
4              5
* transfers --------------------
	  from_stop_id to_stop_id  transfer_type  min_transfer_time
0          101        101              2                180
1          103        103              2                180
2          104        104              2                180
3          106        106              2                180
4          107        107              2                180
* trips --------------------
	  route_id                                 trip_id service_id  \
0        1  AFA24GEN-1038-Sunday-00_000600_1..S03R     Sunday
1        1  AFA24GEN-1038-Sunday-00_002600_1..S03R     Sunday
2        1  AFA24GEN-1038-Sunday-00_004600_1..S03R     Sunday
3        1  AFA24GEN-1038-Sunday-00_006600_1..S03R     Sunday
4        1  AFA24GEN-1038-Sunday-00_007200_1..N03R     Sunday

               trip_headsign  direction_id shape_id
0                South Ferry             1  1..S03R
1                South Ferry             1  1..S03R
2                South Ferry             1  1..S03R
3                South Ferry             1  1..S03R
4  Van Cortlandt Park-242 St             0  1..N03R
* dist_units --------------------
	mi
----------------------------------------
Dataset ID: metro_north_railroad
Dataset Path: data/gtfsmnr.zip
GTFS Feed:
* agency --------------------
	  agency_id           agency_name               agency_url   agency_timezone  \
0         1  Metro-North Railroad  http://www.mta.info/mnr  America/New_York

   agency_phone agency_lang
0  212-532-4900          EN
* attributions --------------------
	None
* calendar --------------------
	        service_id  monday  tuesday  wednesday  thursday  friday  saturday  \
0  246084324608452       0        0          0         0       0         0
1  246089924609012       0        0          0         0       0         0
2  246092824609304       0        0          0         0       0         0
3  246083924608394       0        0          0         0       0         0
4  246082324608263       0        0          0         0       0         0

   sunday start_date  end_date
0       0   20250403  20251122
1       0   20250403  20251122
2       0   20250403  20251122
3       0   20250403  20251122
4       0   20250403  20251122
* calendar_dates --------------------
	        service_id      date  exception_type
0  246084324608452  20250617               1
1  246089924609012  20250812               1
2  246092824609304  20250911               1
3  246083924608394  20250612               1
4  246082324608263  20250528               1
* fare_attributes --------------------
	None
* fare_rules --------------------
	None
* feed_info --------------------
	None
* frequencies --------------------
	None
* routes --------------------
	  route_id agency_id route_short_name route_long_name route_desc  route_type  \
0        3         1             <NA>       New Haven       <NA>           2
1        4         1             <NA>      New Canaan       <NA>           2
2        5         1             <NA>         Danbury       <NA>           2
3        6         1             <NA>       Waterbury       <NA>           2
4        1         1             <NA>          Hudson       <NA>           2

  route_url route_color route_text_color
0      <NA>      EE0034           FFFFFF
1      <NA>      EE0034           FFFFFF
2      <NA>      EE0034           FFFFFF
3      <NA>      EE0034           FFFFFF
4      <NA>      009B3A           FFFFFF
* shapes --------------------
	  shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence  shape_dist_traveled
0        1      40.75315     -73.97738               3871                  NaN
1        1      40.75339     -73.97719               3870                  NaN
2        1      40.75362     -73.97701               3869                  NaN
3        1      40.75386     -73.97682               3868                  NaN
4        1      40.75409     -73.97664               3867                  NaN
* stops --------------------
	  stop_id stop_code         stop_name stop_desc   stop_lat   stop_lon zone_id  \
0       1       0NY     Grand Central      <NA>  40.752998 -73.977056    <NA>
1       4       0HL     Harlem-125 St      <NA>  40.805157 -73.939149    <NA>
2     622       0YS  Yankees-E 153 St      <NA>  40.825300 -73.929900    <NA>
3     184       0HI   Highbridge Yard      <NA>  40.835900 -73.931500    <NA>
4       9       0MH    Morris Heights      <NA>  40.854252 -73.919583    <NA>

                                            stop_url  location_type  \
0  https://new.mta.info/stations/grand-central-te...              0
1    https://new.mta.info/stations/harlem-125-street              0
2     https://new.mta.info/stations/yankees-e-153-st              0
3                                               <NA>              0
4       https://new.mta.info/stations/morris-heights              0

  parent_station  wheelchair_boarding
0           <NA>                    1
1           <NA>                    1
2           <NA>                    1
3           <NA>                    0
4           <NA>                    1
* stop_times --------------------
	                     trip_id arrival_time departure_time stop_id  \
0  246076924607694+1225807+1     06:59:00       06:59:00     112
1  246076924607694+1225807+1     07:02:00       07:02:00     111
2  246076924607694+1225807+1     07:06:00       07:06:00     110
3  246076924607694+1225807+1     07:10:00       07:10:00     108
4  246076924607694+1225807+1     07:14:00       07:14:00     106

   stop_sequence  pickup_type  drop_off_type track note_id
0              1            0              0     3    <NA>
1              2            0              0     3    <NA>
2              3            0              0     3    <NA>
3              4            0              0     3    <NA>
4              5            0              0     3    <NA>
* transfers --------------------
	  from_stop_id to_stop_id  from_route_id  to_route_id  \
0           20         20           <NA>         <NA>
1           20         20           <NA>         <NA>
2           20         20           <NA>         <NA>
3           20         20           <NA>         <NA>
4           20         20           <NA>         <NA>

                from_trip_id                 to_trip_id  transfer_type  \
0  246086024608604+1227498+1  246086024608604+1227504+1              1
1  246082924608531+1227499+1  246082924608531+1227502+1              1
2  246082924608533+1227499+1  246082924608533+1227502+1              1
3  246082924608534+1227499+1  246082924608534+1227502+1              1
4  246085724608591+1227499+1  246085724608591+1227502+1              1

   min_transfer_time
0               <NA>
1               <NA>
2               <NA>
3               <NA>
4               <NA>
* trips --------------------
	  route_id       service_id                    trip_id  trip_headsign  \
0        3  246076924607694  246076924607694+1225807+1  Grand Central
1        3  246076924607694  246076924607694+1225810+1  Grand Central
2        3  246076924607694  246076924607694+1225813+1  Grand Central
3        3  246076924607694  246076924607694+1225816+1  Grand Central
4        3  246076924607694  246076924607694+1225821+1  Grand Central

  trip_short_name  direction_id block_id shape_id  wheelchair_accessible  \
0            1213             1     <NA>        5                      1
1            1221             1     <NA>        5                      1
2            1225             1     <NA>        5                      1
3            1229             1     <NA>        5                      1
4            1231             1     <NA>        5                      1

   peak_offpeak
0             1
1             1
2             1
3             1
4             1
* dist_units --------------------
	mi
----------------------------------------
Dataset ID: manhattan_bus
Dataset Path: data/gtfs_m.zip
GTFS Feed:
* agency --------------------
	  agency_id                agency_name            agency_url  \
0  MTA NYCT  MTA New York City Transit   http://www.mta.info

    agency_timezone agency_lang  agency_phone
0  America/New_York          en  718-330-1234
* attributions --------------------
	None
* calendar --------------------
	           service_id  monday  tuesday  wednesday  thursday  friday  saturday  \
0        MQ_B5-Sunday       0        0          0         0       0         0
1  MQ_B5-Weekday-SDon       1        1          1         1       1         0
2      MQ_B5-Saturday       0        0          0         0       0         1
3        MV_B5-Sunday       0        0          0         0       0         0
4  MV_B5-Weekday-SDon       1        1          1         1       1         0

   sunday start_date  end_date
0       1   20250330  20250622
1       0   20250331  20250627
2       0   20250405  20250628
3       1   20250330  20250622
4       0   20250331  20250627
* calendar_dates --------------------
	           service_id      date  exception_type
0        MQ_B5-Sunday  20250526               1
1  MQ_B5-Weekday-SDon  20250526               2
2  MQ_B5-Weekday-SDon  20250331               2
3  MQ_B5-Weekday-SDon  20250414               2
4  MQ_B5-Weekday-SDon  20250415               2
* fare_attributes --------------------
	None
* fare_rules --------------------
	None
* feed_info --------------------
	None
* frequencies --------------------
	None
* routes --------------------
	  route_id agency_id route_short_name                   route_long_name  \
0       B1  MTA NYCT               B1       Bay Ridge - Manhattan Beach
1      B11  MTA NYCT              B11             Sunset Park - Midwood
2      B12  MTA NYCT              B12  Lefferts Gardens - East New York
3      B13  MTA NYCT              B13   Spring Creek - Wyckoff Hospital
4      B14  MTA NYCT              B14      Spring Creek - Crown Heights

                                         route_desc  route_type route_color  \
0                          via 86th St / Ocean Pkwy           3      00AEEF
1                     via 49th & 50th St / Avenue J           3      006CB7
2  via Clarkson Av / Empire Blvd / East New York Av           3      6CBE45
3         via Crescent St / Jamaica Av / Wyckoff Av           3      FAA61A
4                         via Sutter Av / Pitkin Av           3      00AEEF

  route_text_color
0           FFFFFF
1           FFFFFF
2           FFFFFF
3           FFFFFF
4           FFFFFF
* shapes --------------------
	  shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0  M010086     40.720696    -73.997726              10001
1  M010086     40.720812    -73.997659              10002
2  M010086     40.720952    -73.997609              10003
3  M010086     40.721122    -73.997549              10004
4  M010086     40.721452    -73.997439              10005
* stops --------------------
	  stop_id           stop_name stop_desc   stop_lat   stop_lon zone_id  \
0  101014  WILLIS AV/E 138 ST      <NA>  40.808930 -73.922855    <NA>
1  101015  WILLIS AV/E 140 ST      <NA>  40.810634 -73.921632    <NA>
2  101017  WILLIS AV/E 144 ST      <NA>  40.813111 -73.919823    <NA>
3  101018  WILLIS AV/E 146 ST      <NA>  40.814404 -73.918954    <NA>
4  101066       3 AV/E 150 ST      <NA>  40.816142 -73.917547    <NA>

  stop_url  location_type parent_station
0     <NA>              0           <NA>
1     <NA>              0           <NA>
2     <NA>              0           <NA>
3     <NA>              0           <NA>
4     <NA>              0           <NA>
* stop_times --------------------
	                        trip_id arrival_time departure_time stop_id  \
0  MQ_B5-Weekday-030000_M22_251     05:00:00       05:00:00  402100
1  MQ_B5-Weekday-030000_M22_251     05:01:36       05:01:36  402102
2  MQ_B5-Weekday-030000_M22_251     05:02:14       05:02:14  402103
3  MQ_B5-Weekday-030000_M22_251     05:02:31       05:02:31  402104
4  MQ_B5-Weekday-030000_M22_251     05:03:40       05:03:40  402105

   stop_sequence  pickup_type  drop_off_type  timepoint
0              1            0              0          1
1              2            1              1          0
2              3            0              0          0
3              4            0              0          0
4              5            0              0          0
* transfers --------------------
	None
* trips --------------------
	  route_id     service_id                       trip_id  \
0      M22  MQ_B5-Weekday  MQ_B5-Weekday-030000_M22_251
1      M22  MQ_B5-Weekday  MQ_B5-Weekday-033000_M22_251
2      M22  MQ_B5-Weekday  MQ_B5-Weekday-036000_M22_251
3      M22  MQ_B5-Weekday  MQ_B5-Weekday-039000_M22_251
4      M22  MQ_B5-Weekday  MQ_B5-Weekday-042300_M22_251

             trip_headsign  direction_id  block_id shape_id
0  BATTERY PK CTY VESEY ST             1  37190057  M220248
1     LOWER E. SIDE FDR DR             0  37190057  M220247
2  BATTERY PK CTY VESEY ST             1  37190057  M220248
3     LOWER E. SIDE FDR DR             0  37190057  M220247
4  BATTERY PK CTY VESEY ST             1  37190057  M220248
* dist_units --------------------
	mi
----------------------------------------